* {
    margin: 0;
    font-family: montserrat;
}
.top-section {
    background: linear-gradient(rgba(12, 2, 37, 0.357), rgba(0, 0, 0, 0.756)), url(./images/donation7.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}
.top-section-text {
    text-align: center;
    color: white;
    padding-top: 60px;
    /* align-items: center; */
    
    
}
.top-text1 {
    font-size: 40px;
    padding-top: 20px;
}
.top-text2 {
    padding-top: 10px;
    padding-bottom: 30px;
}
.top-btn {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 15px;
    color: white;
    background-color: red;
    border-radius: 5px;
}
.top-btn:hover {
    background-color: green;
}

/* Mid Text */
.mid-text {
    text-align: center;
    /* padding:30px 0; */
    margin: 50px 0;
}
.mid-text2 {
    color: gray;
    padding-top: 20px;
}

/* Donate Plan */
.donate-amount {
    display: flex;
    margin-left: 520px;
    margin-right: 520px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
.donate-amount p {
    font-size: 25px;
    font-weight: 600;
    color: #707070;
    background-color: #FAFAFA;
    padding: 25px 20px;
    border-radius: 5px;
}
.donate-amount p:hover {
    background-color: #FFEEEE;
    color: #FF5959;
}
#select-donate {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}

/* Donate Plan Choice */
.donate-plan-choice {
    text-align: center;
    margin-bottom: 30px;
    align-items: center;
    color: #B3B3B3;
}
hr {
    margin: 0px 535px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: #da1818;
}
.donate-btn {
    margin-top: 20px;
}