* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
    /* box-shadow: 1px 1px 10px rgba(251, 2, 2, 0.939); */
}
.menuItems {
    display: flex;
    margin-left: 50px;

}
.menuItems li {
    font-weight: bold;
    display: flex;
    list-style: none;
    padding: 0px 20px;
}
.menuItems li a {
    color: white;
    text-decoration: none;
}

.menuItems li a:hover {
    color: red;
    cursor: pointer;
}

.logo-title {
    font-family: montserrat;
    font-size: 40px;
    font-weight: bold;
    /* font-style: italic; */
}

.top-section {
    background: linear-gradient(rgba(12, 2, 37, 0.357), rgba(0, 0, 0, 0.756)), url(./images/donation7.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}
.top-section-text {
    text-align: center;
    color: white;
    padding-top: 60px;
    /* align-items: center; */
    
    
}
.top-text1 {
    font-size: 40px;
    padding-top: 20px;
}
.top-text2 {
    padding-top: 10px;
    padding-bottom: 30px;
}
.top-btn {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 15px;
    color: white;
    background-color: red;
    border-radius: 5px;
}
.top-btn:hover {
    background-color: green;
}

/* Mid Text */
.mid-text {
    text-align: center;
    margin: 50px 0;
}
.mid-text2 {
    color: gray;
    padding-top: 20px;
}

/* Donate Amount Choice */
.donate-amount {
    display: flex;
    margin: 0px 490px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
.donate-amount p {
    font-size: 20px;
    font-weight: 600;
    color: #707070;
    background-color: #FAFAFA;
    padding: 20px 15px;
    border-radius: 5px;
}
.donate-amount p:hover {
    background-color: #FFEEEE;
    color: #FF5959;
}
#select-donate {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}

.donate-plan-choice {
    text-align: center;
    margin-bottom: 30px;
    align-items: center;
    color: #B3B3B3;
}
hr {
    margin: 0px 505px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.donate-btn {
    margin-top: 20px;
}

/* Donate Plan */
.our-plan {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.our-plan h1 {
    font-size: 30px;
}

/* Donate Plan Card */
.donate-plan-card {
    display: flex;
    margin: 0px 260px;
    margin-bottom: 50px;
    justify-content: space-between;

}
.donate-plan-card img {
    padding-bottom: 10px;
}
.donate-plan-card h1 {
    padding-bottom: 10px;
}
.card1 {
    padding: 60px 25px;
    background-color:  #4F9DA61A;
    border-radius: 5px;
    margin-right: 20px;
}
.card1:hover {
    background-color: #69a0b579;
}
.card2 {
    padding: 60px 25px;
    background-color:  #FF59591A;
    border-radius: 5px;
    margin-right: 20px;
}
.card2:hover {
    background-color: #de9a9a60;
}
.card3 {
    padding: 60px 25px;
    background-color:  #FFF4D6;
    border-radius: 5px;
}
.card3:hover {
    background-color: #f7e6b8;
}

.form {
    text-align: center;
    margin-bottom: 40px;
    background-color: #FFF4D6;
    margin: 0px 260px;
    margin-bottom: 30px;
    margin-top: -30px;
    padding: 60px;
    border-radius: 5px;

}
.email {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #D9D9D9;
    margin-right: -10px;
    text-align: start;
}

footer {
    color: #FAFAFA;
    text-align: center;
    background-color: black;
    padding: 30px 0px;
}
footer h1 {
    color: #e92929;
    padding-bottom: 10px;
}
